.buttondesigner_area{
    display: inline-block;
    vertical-align: middle;
    color: var(--primaryColor);
    border: 0.1rem solid var(--primaryColor);
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
    width: max-content;


    .buttondesigner_text{
        text-transform: capitalize;
        font-size: 1em;
        font-weight: 600;
        margin: 0 !important;
    }
}