.doublecolumnimageleftlist{
    width: 100%;
    background: transparent;
    .doublecolumnimageleftlist-row{
        margin-top: 0px;
    }
    .doublecolumnimageleftlist-column{
        margin: 0;
        padding: 0;
        width: 100%;    
    }
    .doublecolumnimageleftlist-left-column{
        display: flex;
    }
    .doublecolumnimageleftlist-right-column{
        display: flex;
    }
}


@media screen and (min-width: 768px) {

    .doublecolumnimageleftlist-column{
        float: left;
    }
    .doublecolumnimageleftlist-left-column{
        width: 60% !important;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }            
    }
    .doublecolumnimageleftlist-right-column{
        width: 40% !important;

        .doublecolumnimageleftlist_text_area{
            display: flex;
            align-items: center;  //truely vertically items within a div, first flex has to be set tho
            padding: 10px;
            
            .doublecolumnimageleftlist_pretitle{
                font-size: 1.2rem;
                text-transform: capitalize;
                font-weight: 700;
                opacity: 80%;
                line-height: 0px;
            }
            .doublecolumnimageleftlist_title{
                font-size: 2rem;
                font-weight: 700;
            }
            .doublecolumnimageleftlist_subtitle{
                font-size: 1.2rem;
                text-transform: capitalize;
                opacity: 80%;
            }
            .doublecolumnimageleftlist_text{
                padding-top: 0px;
                font-size: 1rem;
            }

            .doublecolumnimageleftlist_listbox{
                list-style: none;
                padding: 0;
            }

            .doublecolumnimageleftlist_list_textbox{
                line-height: 1.4em;
                padding: 0.2em 0 0.2em 1.3em;
                margin-top: 0;
                margin-bottom: 0;
            }
            .doublecolumnimageleftlist_list_textbox:before{
                content: "\f046"; /* FontAwesome Unicode hanshake-f2b5 checkbox-*/
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -1.3em; /* same as padding-left set on li */
                width: 1.3em; /* same as padding-left set on li */
            }
        }
    }   
}